.video-container{
    padding-top: 80px;
}

/* Section1 */
.section1{
    background-image: linear-gradient( #d1d6db,white,rgb(193, 219, 243));
}
.section1-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
  }
.carousel {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
.getInTouch{
    background-color: #ffffff !important;
    color: #000000 !important;
    width: 180px;
    height: 45px;
    font-weight: bold !important;
    border: 1px solid #000000 !important;
    border-radius: 16px !important;
  }
.getInTouch:hover{
  background-color: transparent !important;
  cursor: pointer !important;
}
@media(max-width:900px) {
  .hstack{
    display: block !important;
  }
  .section1-heading{
    text-align: center;
  }
  .getInTouch{
    display: block !important;
    margin: 0 auto;
  }
}

/* section2 */
.section2{
  background-image: url('../../Images/alternative-service-section.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.custom-card1{
  margin: 0 auto;
}
.custom-card2{
  margin: 0 auto;
}
.section2-cards .card:hover{
  box-shadow: none;
  cursor: pointer;
}

.section2-cards .card{
  width: 450px;
  height: 400px !important;
  background: #b7e1a14d !important;
  transition: all 0.5s ease-in;
  box-shadow: 3px 3px 6px #696464, -3px -3px 6px #696464;
}
.card-img-top{
  height: 180px;
}
.vstack {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}
@media(max-width:1050px){
  .vstack{
    display: block !important;
  }
  .custom-card1{
    margin-bottom: 60px;
  }
  .section2-cards .card{
    margin: 0 auto;
  }
}

@media(max-width:650px) {
  .section2-cards .card{
    width: 350px;
    height: 420px !important;
  }
}
/* services-rating */

.services-rating{
  background-color: #c1dbf3;
  padding: 20px;
}
.rating-container{
  margin: 0 auto;
}
.customer-container{
  margin: 0 auto;
}

/* vertical timeline vertical timeline vertical timeline vertical timeline */

.timeline-card {
  width: 100%;
  height: auto !important;
  background: #ffffff; 
  box-shadow: none;
  border: none !important;
}
.vertical-timeline::before {
  background: #000000 !important;
}
.vertical-timeline-element-content {
  box-shadow: none !important;
}
.vertical-timeline-element-content-arrow {
  border: none !important;
}
.vertical-timeline-element-date {
  color: #000000;
}

@media (min-width:992px) and (max-width:1170px){
  .vertical-timeline-element:nth-child(even) .vertical-timeline-element-date {
    position: absolute !important;
    width: 100% !important;
    left: -318px !important;
    top: 4px !important;
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .vertical-timeline-element:nth-child(odd) .vertical-timeline-element-date {
    position: absolute !important;
    width: 100% !important;
    left: 124% !important;
    top: 6px !important;
    font-size: 1rem !important;
  }
  
  .vertical-timeline-element:nth-child(even) .vertical-timeline-element-content::before {
    content: "";
    position: absolute;
    top: 22px !important; 
    left: -21px; 
    border-right: 20px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 0;
  }
  .vertical-timeline-element:nth-child(even) .vertical-timeline-element-content::after {
    content: "";
    position: absolute;
    top: 22px !important;
    left: -19px; 
    border-right: 20px solid white; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 1;
  }

  .vertical-timeline-element:nth-child(odd) .vertical-timeline-element-content::before {
    content: "";
    position: absolute;
    top: 22px !important;
    right: -21px; 
    border-left: 20px solid black; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 0;
  }

  .vertical-timeline-element:nth-child(odd) .vertical-timeline-element-content::after {
    content: "";
    position: absolute;
    top: 22px !important;
    right: -19px; 
    border-left: 20px solid white; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 1;
  }

  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
    float: right !important;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0 !important;
    padding: 1.5em !important;
    width: 44% !important; 
  }

  .vertical-timeline.vertical-timeline--two-columns::before {
    left: 50%;
    margin-left: -2px;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    left: 50%;
  }
}

@media(max-width: 991px) {
  .vertical-timeline-element-icon {
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px !important;
  }
  
  .vertical-timeline-element-content::before {
    content: "";
    position: absolute;
    top: 22px !important;
    left: -19px; 
    border-right: 18px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 0;
  }

  .vertical-timeline-element-content::after {
    content: "";
    position: absolute;
    top: 22px !important;
    left: -17px; 
    border-right: 18px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 1;
  }

  .vertical-timeline-element-date{
    display: none !important;
  }
}

.timeline-card img {
  width: 100%;
  height: auto;
}
