.video-container{
    padding-top: 80px;
}

/* Section1 */
.section1{
    background-image: linear-gradient( #d1d6db,white,rgb(193, 219, 243));
}
.section1-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
  }
.carousel {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
.getInTouch{
    background-color: #ffffff !important;
    color: #000000 !important;
    width: 180px;
    height: 45px;
    font-weight: bold !important;
    border: 1px solid #000000 !important;
    border-radius: 16px !important;
  }
.getInTouch:hover{
  background-color: transparent !important;
  cursor: pointer !important;
}
@media(max-width:900px) {
  .hstack{
    display: block !important;
  }
  .section1-heading{
    text-align: center;
  }
  .getInTouch{
    display: block !important;
    margin: 0 auto;
  }
}

/* section2 */
.section2{
  background-image: url('../../Images/alternative-service-section.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.custom-card1{
  margin: 0 auto;
}
.custom-card2{
  margin: 0 auto;
}
.card:hover{
  box-shadow: none;
  cursor: pointer;
}

.card{
  width: 450px;
  height: 400px !important;
  background: #b7e1a14d !important;
  transition: all 0.5s ease-in;
  box-shadow: 3px 3px 6px #696464, -3px -3px 6px #696464;
}
.card-img-top{
  height: 180px;
}
.vstack {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}
@media(max-width:1050px){
  .vstack{
    display: block !important;
  }
  .custom-card1{
    margin-bottom: 60px;
  }
  .card{
    margin: 0 auto;
  }
}

@media(max-width:650px) {
  .card{
    width: 350px;
    height: 420px !important;
  }
}